<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>shout</title>
        <link rel="stylesheet" href="../public/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;600;800&display=swap" rel="stylesheet">
        <script src="../public/index.js"></script>
    </head>
    <body>
        <header>
            <h1>shout</h1>
        </header>
        <main>
            <form class="shout_form">
                <label for="name">Name</label>
                <input type="text" id="name" name="name">
                <label for="new_content">shout:</label>
                <textarea name="new_content" id="new_content" cols="30" rows="10" maxlength="200"></textarea>
                <button>shout</button>
            </form>
            <div class="shout_container">
                <div class="shout">
                    <h3>Test</h3>
                    <div class="shout_content">
                        <p>
                            Bla bla bla bla <span class="user-link">@hellethorning</span> er <span class="tag-link">#nedern</span>
                        </p>
                        <span class="shout_date">20-10-2023</span>
                    </div>
                </div>
                <div class="shout">
                    <h3>Test</h3>
                    <div class="shout_content">
                        <p>
                            Bla bla bla bla <span class="user-link">@hellethorning</span> er <span class="tag-link">#nedern</span>
                        </p>
                        <span class="shout_date">20-10-2023</span>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>